In [74]:
import pandas as pd
import numpy as np

data = pd.read_csv('Chicago-Naperville-Elgin-2-new.csv')
print(data.shape)
data.head()

(312, 6)

,DATE,CPI_all_items,Rent_of_Primary_residence,Monthly_Housing_Cost,CPI_Energy,US_Dollar_Purchasing_power
0,1997-01-01,159.4,179.4,160.4,155.3,62.8
1,1997-02-01,159.7,180.1,161.1,155.6,62.6
2,1997-03-01,159.8,180.3,161.0,156.0,62.5
3,1997-04-01,159.9,180.7,160.9,156.2,62.4
4,1997-05-01,159.9,181.4,161.1,156.3,62.5

In [75]:
def detect_outliers_tukey(column, alpha):
    q1 = column.quantile(0.25)
    q3 = column.quantile(0.75)
    iqr = q3 - q1
    print('The IQR is', iqr,q1,q3)
    lower_bound = q1 - alpha * iqr
    upper_bound = q3 + alpha * iqr
    outliers = column[(column < lower_bound) | (column > upper_bound)]
    return outliers

Create Tukey's rule function for outlier detection

In [76]:
outliers_count = {}
for col in data.columns[1:]:  # Skip the first column (date)
    if data[col].dtype in [np.float64, np.int64]:
        outliers = detect_outliers_tukey(data[col], alpha=1.5)
        print(col, outliers)
        outliers_count[col] = len(outliers)
        data.loc[outliers.index, col] = np.nan

The IQR is 56.28125 183.85 240.13125
CPI_all_items Series([], Name: CPI_all_items, dtype: float64)
The IQR is 81.857 231.025 312.882
Rent_of_Primary_residence Series([], Name: Rent_of_Primary_residence, dtype: float64)
The IQR is 45.5565 184.4 229.9565
Monthly_Housing_Cost Series([], Name: Monthly_Housing_Cost, dtype: float64)
The IQR is 80.45949999999996 182.20000000000002 262.6595
CPI_Energy Series([], Name: CPI_Energy, dtype: float64)
The IQR is 12.749999999999993 41.575 54.324999999999996
US_Dollar_Purchasing_power Series([], Name: US_Dollar_Purchasing_power, dtype: float64)

In [77]:
print("Number of outliers detected for each column:")
for col, count in outliers_count.items():
    print(f"{col}: {count}")

Number of outliers detected for each column:
CPI_all_items: 0
Rent_of_Primary_residence: 0
Monthly_Housing_Cost: 0
CPI_Energy: 0
US_Dollar_Purchasing_power: 0